# Web Scrape Some Data

In [1]:
import numpy as np
import pandas as pd
#//*[@id="mw-content-text"]/div[1]/table/tbody/tr[12]

In [3]:
pd.set_option('display.max_colwidth', None)
df = pd.read_csv("./Data/Wikiships.txt", sep="\t",header=0, names=["Name","Link"],dtype={'Name':str,'link':str})

In [4]:
print(df)

                   Name                                              Link
0       USS A. Houghton     https://en.wikipedia.org/wiki/USS_A._Houghton
1        USS A. J. View      https://en.wikipedia.org/wiki/USS_A._J._View
2    USS Aaron V. Brown  https://en.wikipedia.org/wiki/USS_Aaron_V._Brown
3            USS Abeona          https://en.wikipedia.org/wiki/USS_Abeona
4           USS Abraham         https://en.wikipedia.org/wiki/USS_Abraham
..                  ...                                               ...
750   USS Young America   https://en.wikipedia.org/wiki/USS_Young_America
751     USS Young Rover     https://en.wikipedia.org/wiki/USS_Young_Rover
752    USS Yucca (1864)    https://en.wikipedia.org/wiki/USS_Yucca_(1864)
753            USS Zeta            https://en.wikipedia.org/wiki/USS_Zeta
754          USS Zouave          https://en.wikipedia.org/wiki/USS_Zouave

[755 rows x 2 columns]

In [54]:
URL = "https://en.wikipedia.org/wiki/USS_A._Houghton"
#//*[@id="mw-content-text"]/div[1]/table/tbody/tr[12]/td[1]
import requests
from bs4 import BeautifulSoup
from lxml import html
page = requests.get(URL)

[<Element tr at 0x16574b58130>]
['\n', 'Name', 'USS ', 'Launched', '1852', 'Acquired', '12 October 1861', 'Commissioned', '19 February 1862', 'Decommissioned', '9 June 1865', 'Fate', 'Sold, 10 August 1865', 'Type', 'Tonnage', '326', 'Length', '113\xa0ft 4\xa0in (34.54\xa0m)', 'Beam', '25\xa0ft 3\xa0in (7.70\xa0m)', 'Depth of hold', '12\xa0ft (3.7\xa0m)', 'Propulsion', 'Sail', 'Speed', '13\xa0', ' (15\xa0mph; 24\xa0km/h)', 'Complement', '27', 'Armament', '2 Ã— 32-pounder smoothbore guns']
[<Element tr at 0x16574b5f4a0>]

In [104]:
tree=html.fromstring(page.content)
x1 = tree.xpath('//table[@class="infobox"]/tbody/tr/td[contains(text(),"ton") or contains(text(),"isp")]/following-sibling::td/text()')
print(x1)

XPathEvalError: Unregistered function

In [124]:
zzz = df.set_index("Name")
temp= pd.DataFrame({"name":[],"description":[],"tonnage":[]})
for index, row in df.iterrows():
    page = requests.get(row[1])
    tree=html.fromstring(page.content)
    x2 = tree.xpath('//div[contains(@class,"shortdescription")]/text()')
    x2 = "Mark" if x2==[] else x2
    x1 = tree.xpath('//table[@class="infobox"]/tbody/tr/td[contains(text(),"Ton") or contains(text(),"ton") or contains(text(),"isp")]/following-sibling::td/text()')
    temp = temp.append(pd.DataFrame({"name":row[0],"description":x2[0], "tonnage":x1}))

In [123]:
print(temp)

                    name  \
0        USS A. Houghton
0     USS Aaron V. Brown
0             USS Abeona
1             USS Abeona
0            USS Abraham
1            USS Abraham
0             USS Acacia
0              USS Adela
0           USS Adelaide
1           USS Adelaide
0  USS Adirondack (1862)
0       USS Adolph Hugel
1       USS Adolph Hugel
0     USS Advance (1862)
0        USS Agamenticus
1        USS Agamenticus
2        USS Agamenticus
0      USS Agawam (1863)
0     USS Alabama (1850)
1     USS Alabama (1850)
0   USS Albatross (1858)
1   USS Albatross (1858)
0   USS Albemarle (1863)
0       USS Alert (1861)
0  USS Alexandria (1862)
0        USS Alfred Robb
0   USS Allegheny (1847)
0   USS Alligator (1862)
0       USS Alonzo Child
1       USS Alonzo Child
0       USS Alpha (1864)
0      USS Althea (1863)
0             USS Amanda
0         USS Amaranthus
0             USS Amazon
0    USS American (1861)
0  USS Ammonoosuc (1864)
0   USS Anacostia (1856)
0     USS Anemone (1864)
0              USS Annie
0    USS Antelope (1861)
0    USS Antietam (1869)
0      USS Antona (1863)

                                                              description  \
0                                    Cargo ship of the United States Navy
0                                       Gunboat of the United States Navy
0                                       Gunboat of the United States Navy
1                                       Gunboat of the United States Navy
0                                                      Side-wheel steamer
1                                                      Side-wheel steamer
0                                       Tugboat of the United States Navy
0                                       Gunboat of the United States Navy
0                                                                       M
1                                                                       M
0         Gunboat during the American Civil War that sank off the Bahamas
0                                       Gunboat of the United States Navy
1                                       Gunboat of the United States Navy
0                                       Gunboat of the United States Navy
0                                           United States Navy ship, 1863
1                                           United States Navy ship, 1863
2                                           United States Navy ship, 1863
0              Double-ended, side-wheel gunboat of the United States Navy
0                                       Gunboat of the United States Navy
1                                       Gunboat of the United States Navy
0                                       Gunboat of the United States Navy
1                                       Gunboat of the United States Navy
0  Screw steamer captured by the Union Navy during the American Civil War
0                                       Gunboat of the United States Navy
0                                       Gunboat of the United States Navy
0                                       Gunboat of the United States Navy
0                                       Gunboat of the United States Navy
0                                          Submarine of the United States
0                                                                       M
1                                                                       M
0                                       Tugboat of the United States Navy
0                                       Tugboat of the United States Navy
0                                       Gunboat of the United States Navy
0                                       Tugboat of the United States Navy
0                                                                       M
0                                                                       M
0                                                                       M
0                                       Gunboat of the United States Navy
0                                       Gunboat of the United States Navy
0                                       Gunboat of the United States Navy
0                                       Gunboat of the United States Navy
0                                    Cargo ship of the United States Navy
0                                       Gunboat of the United States Navy

                                tonnage
0                                   326
0                               50 tons
0                                  206
1                               (209Â t)
0                                  800
1                               (810Â t)
0                 300 long tons (300Â t)
0                              585 tons
0                                  734
1                               (746Â t)
0             1,240 long tons (1,260Â t)
0                                  269
1                               (273Â t)
0                              880 tons
0                                3,295
1                               (3,348Â
2                                     )
0                                   974
0                                1,261
1                             (1,281Â t)
0                                  378
1                               (384Â t)
0                              200 tons
0                   90 long tons (91Â t)
0                               60 tons
0                   86 long tons (87Â t)
0               989 long tons (1,005Â t)
0  275 tons surface, 350 tons submerged
0                                  493
1                               (501Â t)
0                               55 tons
0                               72 tons
0                                   368
0                              182 tons
0                                   318
0                              329 tons
0                            3,850 tons
0                              217 tons
0                              156 tons
0                               27 tons
0                              145 tons
0                            3,953 tons
0                              549 tons

In [125]:
temp.head()

                 name                           description   tonnage
0     USS A. Houghton  Cargo ship of the United States Navy       326
0  USS Aaron V. Brown     Gunboat of the United States Navy   50 tons
0          USS Abeona     Gunboat of the United States Navy      206
1          USS Abeona     Gunboat of the United States Navy   (209Â t)
0         USS Abraham                    Side-wheel steamer      800

In [126]:
temp.to_csv("wikitemp2.csv")