# Web Scrape Some Data

In [1]:
import numpy as np
import pandas as pd
#//*[@id="mw-content-text"]/div[1]/table/tbody/tr[12]

In [12]:
pd.set_option('display.max_colwidth', None)
df = pd.read_csv("./Data/Wikiships.txt", sep="\t",header=0, names=["Name","Link"],dtype={'Name':str,'link':str})

In [13]:
print(df)

                   Name                                              Link
0       USS A. Houghton     https://en.wikipedia.org/wiki/USS_A._Houghton
1        USS A. J. View      https://en.wikipedia.org/wiki/USS_A._J._View
2    USS Aaron V. Brown  https://en.wikipedia.org/wiki/USS_Aaron_V._Brown
3            USS Abeona          https://en.wikipedia.org/wiki/USS_Abeona
4           USS Abraham         https://en.wikipedia.org/wiki/USS_Abraham
..                  ...                                               ...
750   USS Young America   https://en.wikipedia.org/wiki/USS_Young_America
751     USS Young Rover     https://en.wikipedia.org/wiki/USS_Young_Rover
752    USS Yucca (1864)    https://en.wikipedia.org/wiki/USS_Yucca_(1864)
753            USS Zeta            https://en.wikipedia.org/wiki/USS_Zeta
754          USS Zouave          https://en.wikipedia.org/wiki/USS_Zouave

[755 rows x 2 columns]

In [62]:

temp= pd.DataFrame({"ix":[],"name":[],"description":[],"propulsion":[]})
for index, row in df.iterrows():
    
    page = requests.get(row[1])
    tree=html.fromstring(page.content)
    x2 = tree.xpath('//div[contains(@class,"shortdescription")]/text()')
    x2 = "Mark" if x2==[] else x2
    #x1 = tree.xpath('//table[@class="infobox"]/tbody/tr/td[contains(text(),"propulsion") \
    #                or contains(text(),"Propulsion")] \
    #                /following-sibling::td[1]/text()')
    x1 = tree.xpath('//table[@class="infobox"]/tbody/tr/td[contains(text(),"propulsion") \
                     or contains(text(),"Propulsion")]//following-sibling::td[1]//*/text()')
    df1=pd.DataFrame({"name":[row[0]],"description":[x2[0]], "propulsion":[x1]})
    temp = temp.append(df1)

In [56]:
print(temp.head(20))
temp.describe()

   ix                   name  \
0 NaN        USS A. Houghton
0 NaN         USS A. J. View
0 NaN     USS Aaron V. Brown
0 NaN             USS Abeona
0 NaN            USS Abraham
0 NaN             USS Acacia
0 NaN              USS Adela
0 NaN           USS Adelaide
0 NaN  USS Adirondack (1862)
0 NaN       USS Adolph Hugel
0 NaN     USS Advance (1862)
0 NaN        USS Agamenticus
0 NaN            USS Agassiz
0 NaN      USS Agawam (1863)
0 NaN     USS Alabama (1850)
0 NaN   USS Albatross (1858)
0 NaN   USS Albemarle (1863)
0 NaN       USS Alert (1861)
0 NaN  USS Alexandria (1862)
0 NaN        USS Alfred Robb

                                                              description  \
0                                    Cargo ship of the United States Navy
0                                       Collier of the United States Navy
0                                       Gunboat of the United States Navy
0                                       Gunboat of the United States Navy
0                                                      Side-wheel steamer
0                                       Tugboat of the United States Navy
0                                       Gunboat of the United States Navy
0                                                                       M
0         Gunboat during the American Civil War that sank off the Bahamas
0                                       Gunboat of the United States Navy
0                                       Gunboat of the United States Navy
0                                           United States Navy ship, 1863
0                                       Gunboat of the United States Navy
0              Double-ended, side-wheel gunboat of the United States Navy
0                                       Gunboat of the United States Navy
0                                       Gunboat of the United States Navy
0  Screw steamer captured by the Union Navy during the American Civil War
0                                       Gunboat of the United States Navy
0                                       Gunboat of the United States Navy
0                                       Gunboat of the United States Navy

                                                                                                                                                                                      propulsion
0                                                                                                                                                                                             []
0                                                                                                                                                                                     [Schooner]
0                                                                                                                                                                                             []
0                                                                                                                                                                                 [Steam engine]
0                                                                                                                                               [\n, Steam engine, \n, side-wheel propelled, \n]
0                                                                                                                                                                                 [Steam engine]
0                                                                                                                                               [\n, steam engine, \n, side wheel-propelled, \n]
0                                                                                                                                               [\n, steam engine, \n, side wheel-propelled, \n]
0  [\n, 2 × 42 in (110 cm) cylinder, 30 in (76 cm) stroke horizontal back-acting , steam engines, \n, 2 × Martin's patent boilers;, [1], \n, 1 × 14 ft 3 in (4.34 m) screw , propeller, [1], \n]
0                                                                                                                                                                                     [Schooner]
0                                                                                                                                               [\n, steam engine, \n, side-wheel propelled, \n]
0                                                                                                                                                                [vibrating-lever steam engines]
0                                                                                                                                                                                             []
0                                                                                                                                               [\n, Steam engine, \n, side wheel-propelled, \n]
0                                                                                                                                                                                             []
0                                                                                                                                                                                 [steam engine]
0                                                                                                                                                                                     [schooner]
0                                                                                                                                                    [\n, Steam engine, \n, screw-propelled, \n]
0                                                                                                                                               [\n, steam engine, \n, side wheel-propelled, \n]
0                                                                                                                                              [\n, steam engine, \n, stern wheel-propelled, \n]

        ix
count  0.0
mean   NaN
std    NaN
min    NaN
25%    NaN
50%    NaN
75%    NaN
max    NaN

In [64]:
zzz = temp
zzz.propulsion=(
                temp.propulsion
                .str.join(" ")
                .str.replace("\n"," ")
               )
zzz.tail()

,ix,name,description,propulsion
0,NaN,USS Young America,Tender of the United States Navy,"steam engine , screw propelled"
0,NaN,USS Young Rover,Gunboat of the United States Navy,sail steam engine
0,NaN,USS Yucca (1864),Gunboat of the United States Navy,steam engine screw-propelled
0,NaN,USS Zeta,Union Navy steam ship,steam engine screw-propelled
0,NaN,USS Zouave,Tender of the United States Navy,"steam engine , screw propelled"

In [38]:
temp.to_csv("propulsion3.csv")